*{
    margin: 0%;
    padding: 0%;
}

.flex{
    display: flex;
}

body{
    background-color: beige;
}

.between{
    justify-content: space-evenly;
    padding: 1vw;
}

#imagens{   
    margin-left: 1vw;
    margin-top: 1vw;
    width: 65%;
    background-color: sienna;
}

#passeios{
    margin-left: 1vw;
    margin-top: 1vw;
    width: 32%;
    background-color: sienna;
}

.img-div{
    height: 90%;
    width: 100%;
}

img{
    height: 100%;
}

.grid{
    display:grid;
    grid-template-columns: auto auto auto;
    row-gap: 1vw;
    column-gap: 1vw;
    margin: 1vw;
}

h2{
    font-size: 2vw;
    margin: 1vw;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

img{
    height: 10vw;
    border-style: dashed;
    border-width: 2px;
    box-shadow: 3px 3px 5px;
    border-radius: 10px;
}

p{
    margin-top: 10px;
}

.box{
    margin-left: 1vw;
    margin-top: 1vw;
    height: auto;
    width: 32%;
    background-color: sienna;
}

.content{
    padding: 1vw;
}