*{
    padding: 0%;
    margin: 0%;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: row;
    height: 100%;
}   

#contra-turno{
    background-color: saddlebrown;
    height: 100%;
    width: 33%;
}

/*springgreen, sienna, beige */

#momentos{
    background-color: #d9d99b;
    height: 100%;
    width: 33%;
}

#txt-sec{
    background-color: springgreen;
    height: 100%;
    width: 33%;
}

.imagem-cat{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: clamp(1em, 1em + 2vw, 5em);
    transition: 1s;
}  


p{
    font-size: clamp(0.5em, 1em + 0.5vw, 1em);
    padding: 3%;
}

.txt-div{
    height: 20%;
    color: white;
    text-align: center;
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

#but-um{
    border-radius: 50px 0 50px 0;
}

#but-dois{
    border-radius: 0px 0px 50px 50px;
}

#but-tres{
    border-radius: 0px 50px 0px 50px;
}
/*-------------------------------hover-----------------------------*/

@keyframes button{
    0%{
        height: 40%;
        width: 60%;
        color: black;
        font-size: 20px;
        background-color: orangered;
        border-style: none;     
        transition: 1s;
    }
    100%{
        background-color: blueviolet;
        color: white;
        height: 60%;
        width: 80%;
        font-size: 40px;
        transition: 1s;
    }
}

button{
    height: 40%;
    width: 60%;
    color: black;
    font-size: 20px;
    background-color: orangered;
    border-style: none;     
    transition: 1s;
}

button:hover{
    background-color: blueviolet;
    color: white;
    height: 60%;
    width: 80%;
    font-size: 40px;
    transition: 1s;
}

#but-um:hover{
    border-radius: 20px 50px 20px 50px;
    transition: 1s;
}

#but-dois:hover{
    border-radius: 60px 200px 20px 60px;
    transition: 1s;
}

#but-tres:hover{
    border-radius: 200px 60px 80px 12px;
    transition: 1s;
}

#contra-turno-txt:hover{
    font-size: clamp(1em, 1em + 3vw, 5em);
    color: aquamarine;
    transition: 0.5s;
}

#momentos-txt:hover{    
    font-size: clamp(1em, 1em + 3vw, 5em);
    color: saddlebrown;
    transition: 0.5s;}

#surpresa-txt:hover{
    font-size: clamp(1em, 1em + 3vw, 5em);
    color: indigo;
    transition: 0.5s;
}

#nos-img{
    width: 80%;
    transition: 2s;
}

#nos-img:hover{
    width: 100%;
    border-style: dotted;
    border-color: lightgreen;
    transition: 2s;
}

#dark-txt{
    color: saddlebrown;
}

.img-branco{
    width: 80%;
    transition: 2s;
}

.img-branco:hover{
    width: 100%;
    border-style: dotted;
    transition: 2s;
    border-color: white;
}

a{
    text-align: center;
    width: 100%;
    height: 100%;
}