*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #e6ffb8;
}

.marrom{
    background-color: sienna;
}


.marromc{
    background-color: saddlebrown;
}

.verdec{
    background-color: lightgreen;
}

.verde{
    background-color: mediumspringgreen;
}


.flex{
    display: flex;
}

.box{
    margin-left: 1vw;
    margin-top: 1vw;
    height: auto;
    width: 32%;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    box-shadow: 3px 3px 5px;
}

.box-m{
    margin: 1vw;
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    box-shadow: 3px 3px 5px black;
    background-color: purple;
    color: white;
}


.mright{
    margin-right: 1vw;
}


.mbox{
    margin-left: 1vw;
    margin-top: 1vw;
    width: 69%;
    height: 100%;
    text-align: center;
    box-shadow: 3px 3px 5px;
}

#imagens{   
    margin-left: 1vw;
    margin-top: 1vw;
    width: 69%;
    background-color: saddlebrown;
    box-shadow: 3px 3px 5px;
    display: flex;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1vw;
    margin: 1vw;
    width: 100%;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 1s;
    border-radius: 60px;
}

img{
    height: 13vw;
    border-style: dashed;
    border-width: 2px;
    box-shadow: 3px 3px 5px;
    border-radius: 10px;
    transition: 0.5s;
}

img:hover{
    height: 15vw;
    border-style: dashed;
    border-width: 2px;
    box-shadow: 3px 3px 5px;
    border-radius: 10px;
    transition: 1s;
    background-color: lightgreen;
}

.between{
    justify-content: space-evenly;
}

p{
    margin-top: 10px;
    transition: 0.5s;
}


.citacao{
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Times New Roman';
}

h2{
    font-size: 1.5rem;
    margin: 1vw;
    transition: 0.5s;
}


h2:hover{
    font-size: 2rem;
    margin: 1vw; 
    color: indigo;
}

.citacao:hover{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px;
    font-family: 'Times New Roman';
    color:  gold;
    background-color: indigo;
    border-radius: 10px;
    box-shadow: 4px 4px 5px black;
    font-style: italic;
}

.musica{
    font-family: georgia;
    font-size: 1.2rem;
}

.musica:hover{
    font-family: georgia;
    font-size: 1.2rem;
    color: gold;
    font-style: italic;
}

.mbottom{
    margin-bottom: 1vw;
}

button{
    margin: 1vw;
    width: 80%;
    height: 11%;
    transition: 1s;
    background-color: orange;
    border-style: none;
    border-radius: 20px;
    font-size: 0.8rem;
}

button:hover{
    margin: 1vw;
    width: 80%;
    height: 40%;
    transition: 0.5s;
    background-color: indigo;
    color: #fafafa;
    border-style: none;
    border-radius: 20px 80px 40px 100px;
    font-size: 1.5rem;
}